body{
    background-color: black;
}
.post {
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 2em;
    width: 500px;
    height: 700px;
    background-color: aliceblue;

}

.head {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.home{
    margin-left: 0.5em;
}
#puntos {
    padding-right: 10px;

}


i {
    font-size: 1.5em;
    margin-top: 12px;
}

.minibody img {
    height: 450px;
    width: 100%;
}

.icons {
    display: flex;

}

.first {
    padding-right: 24.4em;
    margin-left: 5px;
}
footer p {
    margin-left:0.3em;
}
.texto-head {
    margin-left: -380px;
    margin-top: 0.5em;
    font-size: 15px;
}